**/bin/
**/obj/
**/.vs/
**/.git/
**/.gitignore
**/*.user
**/*.suo
**/*.nupkg
**/*.snupkg
**/*.code-workspace
**/*.coverage
**/*.db
**/node_modules/
**/Logs/
Investa.API/Properties/launchSettings.json
