## Build
/bin/
/obj/
**/bin/
**/obj/

## VS/IDE
.vs/
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

## Logs
Logs/
logs/
*.log

## Rider
.idea/

## NuGet
/packages/
.nuget/

## ASP.NET files
appsettings.Development.json
secrets.json

## Certificates
*.pfx

## Database
*.mdf
*.ldf
*.sqlite
*.db
*.db-journal

## Misc
node_modules/
*.env
.DS_Store
