.dart_tool/
.packages
.pub/
build/
**/generated_plugin_registrant.dart
.idea/
.vscode/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
/.dart_tool
**/ios/Flutter/.symlinks
**/android/.gradle
**/android/local.properties
**/android/app/**/key.properties
**/ios/Runner/GeneratedPluginRegistrant.*
.gitignore
